<p id="notice"><%= notice %></p>
<!-- 投稿詳細 -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
    	<%= render "users/profile", user: @book.user %>
        <%= render 'books/new', book: Book.new %>
      </div>
       <div class="col-xs-9">
<table class="table table-striped">

<h2> Book detail </h2>

<tr>
  <th><%= link_to(@book.user) do %>
  <% attachment_image_tag(@book.user, :profile_image, :fill, 15, 15, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb")%>
  <%=@book.user.name%></th>
    <% end %>
  <th><%= @book.title %></th>
  <th><%= @book.body %></th>
  <% if @user == current_user %>
  <th><%= link_to 'Edit', edit_book_path(@book)%> </th>
  <td><%= link_to 'Destroy', book_path(@book),method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>

</table>
</div>
</div>
</div>
