<h1>User info</h1>
<div class="profile-container">
  <table class="table">
    <thead>
      <tr>
        <div class="profile-container">
          <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
        </div>
      </tr>

      <tr>
        <th>name</th>
        <th><div class="profile-name"><%= user.name %></div></th>
      </tr>

      <tr>
        <th>introduce</th>
        <th><div class="profile-introduction"><%= user.introduction %></div></th>
      </tr>

      <tr>
        <% user ||= current_user %>
          <div class="stats">
            <th>following</th>
            <th>
              <a href="<%= following_user_path(user) %>">
              <strong id="following" class="stat"><%= user.followings.count %></strong>
                </a>
            </th>
          </tr>
          <tr>
            <th>followers</th>
            <th>
            <a href="<%= followers_user_path(user) %>">
                <strong id="followers" class="stat"><%= user.followers.count %></strong>
              </a>
            </th>
          </tr>
          </div>
      </tr>

    <!--   <button type="button" class="btn btn-primary btn-block"> -->
    </thead>
  </table>
</div>

<div class="botan">
  <%= link_to "", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %><br>
</div>



