<div class="container">
  <div class="row">
  	<div class="col-xs-10">
		<h1>Followings.Users</h1>
		      <table class = table>
		        <thead>
		          <tr>
		            <th>image</th>
		            <th>name</th>
		            <th></th>
		          </tr>
		        </thead>

		        <tbody>
		          <% @user.followings.each do |user| %>
		            <tr>
		            	<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %></td>
		                <td><%= link_to user.name, user_path(user) %></td>
				          <% user ||= current_user %>
				          <div class="stats">
				            <th>
				              <a href="<%= following_user_path(user) %>">
				                <strong id="following" class="stat">
				                  <%= user.followings.count %>
				                </strong>
				                following
				              </a>
				            </th>
				            <th>
				              <a href="<%= followers_user_path(user) %>">
				                <strong id="followers" class="stat">
				                  <%= user.followers.count %>
				                </strong>
				                followers
				              </a>
				            </th>
				          </div>
				    </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
  </div>
</div>
