<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/50fc84eebf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
       <!-- <div class="row">
        <div class="col-2"> -->
        <div class="navbar-brand navbar-left" href="#">Bookers</div>
     <!--  </div> -->
         <div class="collapse navbar-collapse justify-content-end">
            <div class="navbar-right">
              <ul class="navbar-nav nav-bar-right">
                <li class="nav-item active">
                  <% if user_signed_in? %>
                    <%= link_to("  Home", user_path(current_user), { class: "fas fa-home nav-link"}) %>
                </li>
                <li class="nav-item">
                    <%= link_to("  Users", users_path, { class: "fas fa-user nav-link"}) %>
                </li>
                <li class="nav-item">
                    <%= link_to("  Books", books_path, { class: "fas fa-book nav-link"}) %>
                </li>
                <li class="nav-item">
                    <%= link_to("  logout", destroy_user_session_path, { class: "fas fa-sign-in-alt nav-link"}) %>
                </li>
                <% else %>
                    <%= link_to("  Home", root_path, { class: "fas fa-home nav-link"}) %>
                </li>
                <li class="nav-item">
                    <%= link_to("  About", home_about_path, { class: "fas fa-link nav-link"}) %>
                </li>
                <li class="nav-item">
                    <%= link_to("  sign up", new_user_registration_path, { class: "fas fa-edit nav-link"}) %>
                </li>
                <li class="nav-item">
                    <%= link_to("  login", new_user_session_path, { class: "fas fa-sign-in-alt nav-link"}) %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</header>

    <main>
      <%= yield %>
    </main>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-auto ml-auto">
          <p class="footer-text">© CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>



<!-- ヘッダーのlink_todだけ色を変える方法を探す -->







<!-- ログイン -->
<!-- <i class="fas fa-sign-in-alt"></i> -->

<!-- サインイン -->
<!-- <i class="fas fa-edit"></i> -->

<!-- アバウト -->
<!-- <i class="fas fa-link"></i> -->
